.main-body {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7e57c2;
    
    .aside {
        width: 10%;
        height: 80vh;
        margin: 20px 20px 20px 20px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        button {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            margin: 20px 20px 20px 20px;
            width: 80%;
            height: 7%;
            font-size: 20px;
            border: 2px solid #000063;
            border-radius: 10px 50px 0px 20px;
            background-color: #00006338;
            color: #000063;
            padding: 20px 20px 20px 20px;
        }
    }
    .bside {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .center-container {
            padding: 20px 20px 20px 20px;
            width: 90%;
            height: 90%;
            border-radius: 20px;
            background-color: #673ab7;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            .child-container-upper {
                width: 100%;
                height: 50vh;
                .first-step {
                    width: 100%;
                    height: 20vh;
                    display: flex;
                    .upper {
                        width: 100%;
                        height: 100%;
                        display: block;
                        .first {
                            border-radius: 50px 0px 0px 50px;
                            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                            width: 100%;
                            height: 20%;
                            margin: 20px 0px 50px 0px;
                            background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
                            background-size: 200% 100%;
                            background-position: left;
                            transition: all 1s ease-in;
                        }
                        .second-upper-line {
                            width: 100%;
                            height: 20%;
                            display: flex;
                            justify-content: center;
                            .second-curve {
                                width: 50px;
                                height: 50px;
                                border-top-left-radius: 110px;
                                border-bottom-left-radius: 110px;
                                border: 38px solid #008793;
                                border-right: 0;
                                transition-delay: 1s;
                            }
                            .second-line-2 {
                                width: 50%;
                                height: 100%;
                                background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
                                background-size: 200% 100%;
                                background-position: right bottom;
                                transition: all 1s ease-in;
                            }
                        }
                    }
                    .second {
                        width: 20%;
                        height: 100%;
                        .half-circle {
                            margin: 20px 0px 20px 0px;
                            width: 50px;
                            height: 50px;
                            border-top-right-radius: 110px;
                            border-bottom-right-radius: 110px;
                            border: 38px solid #008793;
                            border-left: 0;
                            transition-delay: 1s;
                        }
                    }
                }
                .second-step {
                    width: 100%;
                    height: 20vh;
                    .third-step {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        .third-child-left {
                            width: 50%;
                            height: 100%;
                            .forth-parent {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                .forth-curve {
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: end;
                                    .forth-curve-child {
                                        display: flex;
                                        justify-content: end;
                                        width: 50px;
                                        height: 50px;
                                        border-top-left-radius: 110px;
                                        border-bottom-left-radius: 110px;
                                        border: 38px solid #66879c;
                                        border-right: 0;
                                        transition-delay: 1s;
                                    }
                                }
                                .forth-step {
                                    width: 70%;
                                    height: 65%;
                                    .forth-upper {
                                        width: 100%;
                                        height: 30%;
                                        background-image: linear-gradient(
                                            to left,
                                            #a5c7b7,
                                            #7ba8ac,
                                            #66879c,
                                            #626480,
                                            #5d4257
                                        );
                                        background-size: 200% 100%;
                                        background-position: right bottom;
                                        transition: all 1s ease-in;
                                    }
                                    .forth-bottom {
                                        width: 100%;
                                        height: 70%;
                                        display: flex;
                                        justify-content: start;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                        .third-child-right {
                            width: 30%;
                            height: 100%;
                            .right-child {
                                width: 100%;
                                height: 20%;
                                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                                background-image: linear-gradient(
                                    to right,
                                    #d16ba5,
                                    #c777b9,
                                    #ba83ca,
                                    #aa8fd8,
                                    #9a9ae1,
                                    #8aa7ec,
                                    #79b3f4,
                                    #69bff8,
                                    #52cffe,
                                    #41dfff,
                                    #46eefa,
                                    #5ffbf1
                                );
                                background-size: 200% 100%;
                                background-position: left;
                                transition: all 1s ease-in;
                            }
                        }
                        .third-child-end {
                            width: 20%;
                            height: 100%;
                            .third-circle {
                                width: 50px;
                                height: 50px;
                                border-top-right-radius: 110px;
                                border-bottom-right-radius: 110px;
                                border: 39px solid #8aa7ec;
                                border-left: 0;
                                transition-delay: 1s;
                            }
                        }
                    }
                }
            }
            .child-container-bottom {
                width: 100%;
                height: 50vh;
                .bottom-illustation {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .illustration-step {
                        width: 25%;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 70%;
                            height: 70%;
                        }
                    }
                }
            }
        }
    }
}
